<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav" fixedInViewport>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <nav class="sidenavbar">
        <a
          mat-list-item
          routerLink="/permissions"
          routerLinkActive="active-link"
        >
          <mat-icon matListIcon>lock</mat-icon>
          <span>Permissions</span>
        </a>
        <div class="links-container" *ngFor="let item of sidebarItems">
          <a
            [routerLink]="item.route"
            class="links"
            style="display: flex"
            mat-list-item
            *ngIf="item.isGranted"
          >
            <mat-icon matListIcon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </a>
        </div>
      </nav>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">
      <span></span>
    </mat-toolbar>
    <div class="main-content p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
